@media (min-width: 1200px) {
    .container-principal {
        width: 1440px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: blue;
    }

    .img-top {
        width: 600px;
        height: 850px;
        background-repeat: no-repeat;
    }
}