@media (min-width: 800px) {
    body {
        width: 1440px;
        height: 100%;
        background-color: hsl(234, 29%, 20%);
    }
    .container-principal {
        display: flex;
        flex-direction: row-reverse;
        background-color: white;
        width: 900px;
        height: 600px;
        margin-top: 60px;
        margin-left: 300px; 
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .container-desktop {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        word-wrap: break-word;
        margin-top: 28px;
        padding-left: 40px;
    }

    .img-mobile {
        display: none;
    }
    
    .img-g {
        display: block;
        width: 600px;
        height: 560px;
        margin-top: 22px;
        margin-left: 10px;
    }

    .validado {
        display: none;
        width: 450px;
        height: 480px;
        position: absolute;
        left: 520px;
        bottom: 120px;
        background-color: white;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    h1 {
        font-size: 42px;
        font-family:"Roboto-bold";
        color: hsl(234, 29%, 20%);
    }

    .c-validado {
        word-wrap: normal;
        width: 330px;
        height: 390px;
        margin-top: 40px;
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .button-confirm {
        margin-top: 20px;
        padding: 0px;
    }
    
}